<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ryan Senn</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="<%= Routes.page_path(@conn, :index) %>">Home</a></li>
                    <li><a href="<%= Routes.live_path(@conn, RyanWeb.SalarySeekerLive) %>">Salary Seeker</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <%= render @view_module, @view_template, assigns %>
        </div>
    </main>
    <footer>
        <div class="container">
            Ryan Senn
        </div>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>