<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ryan Senn</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <%= if Mix.env() == :prod do %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144898502-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-144898502-1');
    </script>
    <% end %>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <a href="<%= Routes.page_path(@conn, :index) %>">Home</a>
                <label for="mobile-menu-checkbox">
                    <span class="fa fa-bars"></span>
                </label>
                <input type="checkbox" id="mobile-menu-checkbox">
                <ul>
                    <li>
                        <a href="<%= Routes.live_path(@conn, RyanWeb.SalarySeekerLive) %>">
                            Salary Seeker
                        </a>
                    </li>
                    <li>
                        <a href="<%= Routes.live_path(@conn, RyanWeb.DomainPriceLive) %>">
                            Domain Price
                        </a>
                    </li>
                    <li>
                        <a href="<%= Routes.live_path(@conn, RyanWeb.InflationCalculatorLive) %>">
                            Inflation Calculator
                        </a>
                    </li>
                    <li>
                            <a href="<%= Routes.page_path(@conn, :powerball) %>">
                                Powerball Simulation
                            </a>
                        </li>
                        <li>
                            <a href="<%= Routes.page_path(@conn, :gold_lotto) %>">
                                Gold Lotto Simulation
                            </a>
                        </li>
                        <li>
                        <a href="<%= Routes.page_path(@conn, :daily_chart) %>">
                            Daily Charts
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <%= render @view_module, @view_template, assigns %>
        </div>
    </main>
    <footer>
        <div class="container">
            <span>© 2019 Ryan Senn</span> <a href="https://github.com/ryan-senn" target="blank_"><span
                    class="fa fa-github"></span></a>
        </div>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>