@import "~bootstrap/scss/bootstrap.scss"

*,
*::before,
*::after
    box-sizing: border-box

@font-face
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 300
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/open-sans-300.woff2) format('woff2')
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
    font-display: fallback

@font-face
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 400
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/fonts/open-sans-400.woff2) format('woff2')
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
    font-display: fallback

@font-face
    font-family: 'Open Sans'
    font-style: normal
    font-weight: 600
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(/fonts/open-sans-600.woff2) format('woff2')
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
    font-display: fallback

*
    font-family: "Open Sans", arial, sans-serif
    font-weight: 400

a
    text-decoration: none
    color: #6772e5

    &:hover
        color: darken(#6772e5, 15%)

body
    margin: 0
    min-height: 100vh
    display: flex
    flex-direction: column
    background-color: #305B90

header
    border-bottom: 1px solid #eeeeee
    color: #666666
    background-color: #ffffff
    margin-bottom: 40px

    nav
        display: flex

        a
            margin: 1rem 2rem 1rem 0

        ul
            display: flex
            flex-wrap: wrap
            list-style: none
            margin: 1rem 0

            li
                margin: 0
            
                &:first-child
                    padding-left: 0
                
                &:last-child
                    padding-right: 0

        @media (max-width: 40rem)
            ul
                display: none
                position: absolute
                transition: opacity 1s ease
                right: 0
                z-index: 1000
                flex-direction: column
                top: 3.6rem
                padding: 4rem
                margin: 0
                background-color: #f6f9fc
                height: calc(100vh - 115px)

                li
                    padding: 0 0 1rem 0

            input#mobile-menu-checkbox:checked + ul
                display: block

        @media (max-width: 40rem)
            justify-content: space-between
            align-items: center

        label
            display: none

            @media (max-width: 40rem)
                display: block
                font-size: 2rem
        
        input#mobile-menu-checkbox
            display: none

main
    flex: 1
    padding: 20px 0

    a.url
        word-wrap: break-word

    div.container
        position: initial

footer
    border-top: 1px solid #eeeeee
    color: #666666
    background-color: #f6f9fc
    padding: 10px 0
    margin-top: 40px

    div.container
        display: flex
        align-items: center

        a.github
            margin-left: 15px
            font-size: 20pt

section.card
    margin-bottom: 30px

    h1
        font-size: 20pt
        margin: 20px 0 40px

    div.card-body
        p
            color: #555555
            line-height: 1.8

p.inspired
    margin-top: 60px

// page specific css, move out if it grows

section#home
    padding-top: 80px

    div.card
        padding: 0 80px

        @include media-breakpoint-down(sm)
            padding: 0 50px

        @include media-breakpoint-down(xs)
            padding: 0

    div.img
        display: flex
        justify-content: center

        img
            width: 140px
            height: 140px
            border-radius: 50%
            margin-top: -70px
    
    h1
        text-align: center
        font-size: 20pt
        margin: 20px 0
    
    p.center
        text-align: center
        margin-bottom: 40px

    div.item
        margin: 40px 0

        span.icon
            font-size: 30pt
            color: #666666

        h2
            font-size: 16pt
            margin: 30px 0

        p
            color: #555555

section#salary-seeker
    div.examples
        p
            margin-bottom: 1rem

        ul
            margin-bottom: 2rem


section#powerball-simulation
    div.title-with-button
        display: flex

        button
            margin: 0 0 0 2rem

    h3
        font-size: 20pt
        margin: 10px 0

    div.numbers
        display: flex
        flex-wrap: wrap
        margin-bottom: 1rem
    
    div.game-mode
        display: flex

        label
            font-weight: 300
            margin-right: .6rem
            margin-bottom: 0

        select
            width: auto
            height: auto
            margin: 0

    input.number, div.number
        width: 2.5rem
        height: 2.5rem
        padding: 0
        border: 1px solid #cccccc
        border-radius: 4px
        margin: 0 .4rem .4rem 0
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        font-size: 1.2rem
        color: #666666
        font-weight: 600
        background-color: #eeeeee
    
        &.powerball
            border-radius: 50%

        &.invalid
            border-color: red
        
        &.match
            border-color: Green
            background-color: PaleGreen

        @media (min-width: 40rem)
            width: 4rem
            height: 4rem

    input.number:not(.playing)
        background-color: #ffffff

    button
        margin-bottom: 3rem
        padding: 1.2rem 1.6rem
        height: 0
        letter-spacing: 0
        line-height: 0

    td, th
        padding: .6rem 1.2rem

        &:first-child
            padding-left: 0
        
        &:last-child
            padding-right: 0

    h3.prizes
        margin-top: 3rem

    div.speed
        display: flex
        flex-wrap: wrap

        p, label
            margin: 0 1rem 0 0
            display: flex
            align-items: center
        
        input
            margin: 0 .5rem 0 0
    
    div.play
        margin: 2rem 0

        button
            margin: .5rem 1rem 0 0
    
    table.result
        tr
            display: flex

            th
                flex-basis: 10rem
            
            td
                flex-basis: 15rem
        
        margin-bottom: 1rem

    div.winning-draws
        margin-bottom: 4rem

        button
            span.fa
                line-height: 0
    
        div.winning-draw
            display: flex
            flex-wrap: wrap-reverse

            > div:first-child
                margin-right: 1rem

            > div:last-child
                padding-top: 0.5rem
                margin-bottom: 0.5rem

section#gold-lotto-simulation

    .pointer
        cursor: pointer

    div.line
        display: flex
        margin: 1rem 0

        label
            margin-right: .6rem
            margin-bottom: 0

        select
            width: auto
            height: auto
            margin: 0 .4rem 0 0
    
        button
            span.fa
                font-size: 1.4rem

    button
        margin: 0 .4rem 0 0
        padding: .4rem .8rem
        line-height: 1
        height: 2.6rem
        border-radius: .2rem

        &.is-active
            background-color: #333333
            color: #ffffff
    
    div.button-group
        button
            margin: 0
            border-radius: 0
        
            &:first-child
                border-radius: .2rem 0 0 .2rem
            
            &:last-child
                border-radius: 0 .2rem .2rem 0
    
    div.selected-numbers, div.draw-numbers
        display: flex
        flex-wrap: wrap

        > div
            border: 1px solid #dddddd
            border-radius: 50%
            width: 3.6rem
            height: 3.6rem
            display: flex
            flex-wrap: wrap
            justify-content: center
            align-items: center
            margin-right: .4rem
            user-select: none
            
            &.is-winning
                background-color: #b2ffb2
            
            &.is-sup
                background-color: lighten(#8080ff, 15)

    div.draw-numbers
        > div
            &:nth-child(7), &:nth-child(8)
                background-color: lighten(#8080ff, 20)
            
            &.is-drawn
                background-color: #b2ffb2
                
                &:nth-child(7), &:nth-child(8)
                    background-color: lighten(#8080ff, 15)

    div.number-pad
        display: flex
        flex-direction: column

        div.number-row
            display: flex

            &:first-child
                div.number
                    border-width: 1px 1px 1px 0

                    &:first-child
                        border-width: 1px 1px 1px 1px

        div.number
            border: 1px solid #dddddd
            border-width: 0 1px 1px 0
            width: 4rem
            height: 4rem
            display: flex
            justify-content: center
            align-items: center
            cursor: pointer
            user-select: none

            &:first-child
                border-width: 0 1px 1px 1px
            
        div.number.is-selected
            background-color: #555555
            color: #ffffff

    table.result
        tr
            display: flex

            th
                flex-basis: 10rem
                padding: .4rem 0
            
            td
                flex-basis: 15rem
                padding: .4rem 0
    
    div.winning-draw
        margin: 1rem 0

section#daily-chart
    ul.charts
        display: flex
        flex-wrap: wrap
        padding: 0
        padding: 0 0 2rem
        margin: 0
        list-style: none

        li
            margin: 0 1rem

            ul
                padding: 0
                margin: 0 0 1rem 0

    div.chart-placeholder
        margin-bottom: 2rem

        div.chart-container
            position: absolute
            left: 0
            right: 0
            width: calc(100% - 4rem)
            margin: 0 auto 3rem auto
            
            div#chart
                position: relative
                overflow-x: scroll
                width: 100%

                div.group
                    position: absolute
                    width: 6px
                    top: 0
                    border-right: 1px dashed #eeeeee

                    &:nth-child(10n)
                        border-right: 1px dashed #cccccc

                    &:nth-child(10n + 1)
                        border-right: 1px dashed #cccccc
                
                    div.dots
                        display: flex
                        flex-direction: column
                        justify-content: center
                        height: 100%
                
                        div.dot
                            height: 4px
                            width: 4px
                            border: 1px solid #666666
                            border-radius: 50%
                            margin-bottom: 1px
                            position: relative
                            background-color: #cccccc

                            &:hover
                                border-color: #000000
                                background-color: #666666
                    
                            div.info
                                display: none

                    div.percent
                        display: flex
                        align-items: center
                        justify-content: center
                        font-size: 1.2rem

section#google-keyword-rank
    table tbody tr
        td
            max-width: 100px
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap
        
        &.active td
            background-color: #333333
            color: #dddddd

div.tippy-popper
    div.tippy-tooltip
        padding: 1.5rem
        font-size: 1.4rem

        div.tippy-content
            ul
                margin: 0
                padding: 0
                list-style: none
                letter-spacing: 1px
