<section id="asx200">
    <div id="asx200-app"></div>
</div>

<%= if Mix.env() == :prod do %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/asx200.min.js") %>"></script>
<% else %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/asx200.js") %>"></script>
<% end %>

<script>
    Elm.Asx200.init({node: document.getElementById("asx200-app"), flags: {data: <%= raw(@data) %>}});
</script>